body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #111;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

section {
  padding: 60px;
}

.hero {
  background: #0d6efd;
  color: white;
  text-align: center;
}

.project {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #0d6efd;
  text-decoration: none;
  border-radius: 5px;
}


html {
  scroll-behavior: smooth;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  section {
    padding: 30px 20px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero h3 {
    font-size: 16px;
  }
}
